services:
  notification-app:
    build: .
    container_name: notification-app
    depends_on:
      notification-mongo:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - DATABASE_URL=mongodb://notification-mongo:27017/${MONGODB_DB_NAME}?replicaSet=rs0
    develop:
      watch:
        - path: .
          target: /usr/src/app
          action: sync
    ports:
      - "${PORT}:${PORT}"
    networks:
      - notification-network
    command: ["pnpm", "docker-dev"]

  notification-mongo:
    image: mongo:latest
    container_name: notification-mongo
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    volumes:
      - notification-mongo-data:/data/db
    networks:
      - notification-network
    ports:
      - 27017:27017
    healthcheck:
      test: echo "try {rs.status()} catch(err) {rs.initiate({_id:'rs0',members:[{_id:0,host:'notification-mongo:27017',priority:1}]})}" | mongosh --port 27017 --quiet
      interval: 5m
      timeout: 10s
      retries: 3
      start_period: 10s

  # notification-mongo-express:
  #   image: mongo-express
  #   container_name: notification-mongo-express
  #   restart: always
  #   ports:
  #     - 8081:8081
  #   environment:
  #     ME_CONFIG_BASICAUTH: false
  #     ME_CONFIG_MONGODB_ENABLE_ADMIN: false
  #     ME_CONFIG_MONGODB_URL: mongodb://notification-mongo:27017?replicaSet=rs0
  #   depends_on:
  #     notification-mongo:
  #       condition: service_healthy
  #   networks:
  #     - notification-network

volumes:
  notification-mongo-data:

networks:
  notification-network:
    driver: bridge